/.vs/MyNotes/v15/.suo
/.vs/MyNotes/v15/Server/sqlite3/db.lock
/.vs/MyNotes/v15/Server/sqlite3/storage.ide
/.vs/MyNotes/v15/Server/sqlite3/storage.ide-shm
/.vs/MyNotes/v15/Server/sqlite3/storage.ide-wal
/.vs/MyNotes/v16/.suo
/.vs/MyNotes/v16/Server/sqlite3/db.lock
/.vs/MyNotes/v16/Server/sqlite3/storage.ide
/.vs/MyNotes/v16/Server/sqlite3/storage.ide-shm
/.vs/MyNotes/v16/Server/sqlite3/storage.ide-wal
